
.cabindex{
	font-family:'Saira Extra Condensed', sans-serif;
	font-size: 100px;
	text-indent: 5%;
	padding-top: 40px ;
	padding-bottom: 20px;
	font-weight:normal;
	margin-top: 1%;
	color: white;
	text-align: left;
	margin-left: 15%;
}

.polaroidcit {
  width: 90%;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.18), 0 6px 20px 0 rgba(0, 0, 0, 0.26);
  margin-top: 0.5%;
  margin-left:5%;

}

.citacao{
	text-align: center;	
	font-size: 22px;
	font-family: 'Merriweather', serif;
	color: black;
}



.quote{
	font-style: italic;
	font-size: 25px;
}





.polaroid {
  width: 18.75%;
  border-radius: 15%;
  background-color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
  margin-bottom: 25px;
  margin-left:5%;
  cursor: pointer;
  display: inline-block;
}

.foto{
	width:84%; 
	border-radius:15%;
	margin-left:8%;
	margin-right:8%;
	margin-top: 8%;
}


.polaroid:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.8), 0 17px 50px 0 rgba(0,0,0,0.86);

}
/******************************************* Botões ******************************************************/

.nome{
	background-color: #2CBCC7;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	font-family: 'Saira Extra Condensed', sans-serif;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	padding: 3% 0;
	margin: 8%;
	border-radius:12px;
	width:84%;
	box-shadow: 0 9px #0a263e;
} 



.nome:active {
  background-color: #0a263e;
  box-shadow: 0 5px #0a263e;
  transform: translateY(4px);
}


