.lista{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	border-radius: 10px;
}
.semdrop{
	border-radius: 10px;
    background-color: #330000;
	width: 16.6%;
	border-left: 1px solid white;
	border-right:1px solid white;
	font-family: sans-serif;
	
}
.listitem {
    float: left;
}

.listitem a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.listitem a:hover, .dropdown:hover .dropbtn {
    background-color: #cc0000;
	border-radius: 10px;
	width : 87%;
	text-align: left;
	padding: 12px 16px;
}

.listitem.dropdown {
    display: inline-block;
	border-left: 1px solid white;
	border-right:1px solid white;
	width:16.5%;
	border-radius: 10px;
	background-color: #330000;
	font-family: sans-serif;
}

.conteudo-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width:16.6%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	border-radius: 10px;
	
}

.conteudo-dropdown a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.conteudo-dropdown a:hover {
	background-color: #f1f1f1;
	
}

.dropdown:hover .conteudo-dropdown {
    display: block;
}

.icone{
	border-radius: 30px;	
	float: right;
}
h1{
	float: center;
	text-align: center;
	font-size: 34;
	font-weight: normal;
	font-family: sans-serif;
	padding-top: 30px;
}
.cabecalho{
	padding-bottom: 15px;
}

.titulo{
	text-align: center;
}

.minibio{
	font-size: 23px;
	text-indent:4em;
	text-align:left;
	width: 70%;
	
}
.normal{
	text-align: left;
	
}

.caract{
	font-size: 20px;
	padding-left: 130px;
	
}

.divisao{
	padding-left: 70px;
	
	
}

.descr{
	padding-left: 150px;
	
	
}

.disciplina{
	font-size: 22px;
	text-align: center;
	
}



.fotoperfil{
	float:right;
	padding: 80px 90px 40px 15px;
	width: 20%;	
	align-content: right;
}

.detalhado{
	font-size: 18px;
	text-indent: 4em;
	
}

.container{
	padding: 20px;
	width: 87%;
	height: 200px;
}





h1, h2, h3, h4, h5, h6{
  margin-bottom: 0.5rem;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}
h1{
  font-size: 2.5rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.75rem;
}

h4{
  font-size: 1.5rem;
}

h5{
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}


.titulo {
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	font-weight: 1000;
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


.fotosp{
	padding: 40px;
}

#Aless{
	padding-left : 80px;
	
}

#Anna{
	padding-left : 180px;
	
}

#Denn{
	padding-left : 240px;
}

#kaiq{
	padding-left : 250px;
	
}