/******************************************* Slides ******************************************************/
.slide{
	display: none;
}




.slides-container{
	position:relative;
	max-width: 700px;
	margin-left: 20%;;
	
}

.dot{
	cursor: pointer;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	margin:0 1%;
	display: inline-block;
	background-color: #bbb;
	transition: background-color 0.6s ease;
}
.dotcontainer{
	width: 700px;
	margin-left: 5%;
	text-align: center;
	margin-top:0;
}

.ativo{
	background-color:#717171;
}

.imagens{
	width:700px;
	height:370px;
}

.text {
	color: black;
	font-weight: bold;
	background-color: white;
	opacity: 0.8;
	font-size: 25px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: left;
	font-family: 'Saira Extra Condensed', sans-serif;
	text-indent: 5%;
	margin: 2% 0;
	padding: 1% 0;
}

.proj{
	padding-left: 30px;
	font-family: 'Saira Extra Condensed', sans-serif;
	font-weight: bold;
	font-size: 30px;

}



.minibio{
	font-size: 16px;
	text-align:left;
	width: 80%;
	font-family: 'Merriweather', serif;
	padding-top:15px;
	padding-bottom: 2%;
	margin-left: 5%;
	
}

.fotoperfil{
	float:right;
	margin: 6% 5% 5% 2%;
	width: 20%;	
	align-content: right;
	border-radius: 30%;
}