.disciplina{
	font-size: 22px;
	text-align: left;
	padding-left: 30px;
	font-family: 'Saira Extra Condensed', sans-serif;
	font-size: 30px;
	
}


.fotoproj{
	float:right;
	width: 22%;	
	align-content: right;
	margin: 4% 7%;
	cursor: pointer;
    transition: 0.3s;
}

.fotoproj:hover{
	opacity: 0.5;
}

