html, body  {
	margin: 0;
	padding: 0;
	
}

.fotos:{
	float: right;
	opacity: 0.5;
	
}
.lista{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	border-radius: 10px;
}
.semdrop{
	border-radius: 10px;
    background-color: #00867d;
	width: 16.6%;
	border-left: 1px solid #0a263e;
	border-right:1px solid #0a263e;
	font-family: sans-serif;
	
}
.listitem {
    float: left;
}



.listitem a, .dropbtn {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
	font-family: 'Simplifica';
	font-size: 20px;
	font-weight: normal;
}

.listitem a:hover, .dropdown:hover .dropbtn {
    background-color: #428e92;
	border-radius: 10px;
	width : 100%;
	text-align: left;
	padding: 12px 16px;
}

.listitem.dropdown {
    display: inline-block;
	border-left: 1px solid #0a263e;
	border-right:1px solid #0a263e;
	width:16.5%;
	border-radius: 10px;
	background-color: #00867d;
	font-family: sans-serif;
}

.conteudo-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width:16.6%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	border-radius: 10px;
	
}

.conteudo-dropdown a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.conteudo-dropdown a:hover {
	background-color: #f1f1f1;
	
}

.dropdown:hover .conteudo-dropdown {
    display: block;
}

.home{
	float: right;
	padding: 10px;
	margin-top: 30px;
}


.icone{
	border-radius: 50%;	
	float: left;
	padding: 10px;
	width:75px ;
	margin-left: 30px;
	margin-top: 10px;
	
}
h1{
	float: center;
	text-align: center;
	font-size: 34;
	font-weight: normal;
	font-family: sans-serif;
	padding-top: 30px;
}
.cabecalho{
	padding-bottom: 15px;
	color:white;
	background-image: url('fundo.jpg');
	width:100%;
	
}



.principal{
	background-image: url('fundo.jpg');
}

.minibio{
	font-size: 16px;
	text-indent:4em;
	text-align:left;
	width: 80%;
	font-family: 'Merriweather', serif;
	padding-top:15px;
	padding-bottom: 70px;
	padding-left: 40px;
	
}
.normal{
	text-align: left;
	
}

.caract{
	font-size: 13px;
	padding-left: 130px;
	font-family: 'Merriweather', serif;
	
	
}

.divisao{
	padding-left: 30px;
	font-family: 'Simplifica';
	font-weight: bold;
	font-size: 30px;
	
	
	
}

.descr{
	padding-left: 70px;
	font-family: 'Merriweather', serif;
	font-size: 15px;
	padding-right: 20px;
	margin-right: 25%;
	
	
}


.disciplina{
	font-size: 22px;
	text-align: left;
	padding-left: 30px;
	font-family: Simplifica;
	font-size: 30px;
	
}

.cabecalhoindex{
	background-image: url('fundo.jpg');
	color: white;
	font-family: 'Simplifica';
	
}

.fotoperfil{
	float:right;
	padding: 88px 90px 40px 5px;
	width: 20%;	
	align-content: right;
	margin-left:5px;
}

.colch{
	float:right;
	padding-top: 75px;
}

.detalhado{
	font-size: 18px;
	text-indent: 4em;
	font-family: 'Merriweather', serif;
	
}
.selec{
	width:80%;
	background-color: white;
	margin-bottom:25px;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.contain{
	text-align:center;
	padding:10px 20px;
}

.container{
	padding: 20px;
	width: 87%;
	height: 200px;
}

.fotosperf{
	border-radius:50%;
	padding-top: 18px;
}

.selecione{
	font-size: 25px;
	text-indent: 4em;
	font-family: 'Merriweather', serif;
	
}

h1, h2, h3, h4, h5, h6{
  margin-bottom: 0.5rem;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}
h1{
  font-size: 2.5rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.75rem;
}

h4{
  font-size: 1.5rem;
}

h5{
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}


.titulo {
	text-align: left;
	font-family: 'Simplifica';
	font-weight: bold;
	padding-left: 30px;
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


.fotosp{
	padding: 40px;
}

#Aless{
	padding-left : 80px;
	
}

#Anna{
	padding-left : 180px;
	
}

#Denn{
	padding-left : 240px;
}

#kaiq{
	padding-left : 250px;
	
}

.citacao{
	text-align: center;	
	font-size: 26px;
	font-family: 'Merriweather', serif;
}



.quote{
	font-style: italic;
	font-size: 30px;
}	

.cont{
	background-color: white;
}


.button{
	background-color: #DE1926;
	border: none;
	color: black;
	padding: 14px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: 'Simplifica';
	font-size: 20px;
	font-weight: bold;
	border-radius: 8px;
	margin-left: 60px;
	cursor: pointer;
	
} 

.button:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}



.slide{
	display: none;
}

*{box-sizing : border-box;}


.slides-container{
	padding-top: 10px;
	position:relative;
	max-width: 700px;
	margin:auto;
	
}

.dot{
	width: 13px;
	height: 13px;
	border-radius: 50%;
	margin:0 2px;
	display: inline-block;
	background-color: #bbb;
	transition: background-color 0.6s ease;
}

.ativo{
	background-color: #717171;
}

.imagens{
	width:500px;
	height:280px;
}

.text {
	color: black;
	font-weight: bold;
	background-color: white;
	opacity: 0.8;
	font-size: 25px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	font-family: 'Simplifica';
}

.td{
	float:left;
	padding-left: 50px;
}

.fotoproj{
	float:right;
	padding: 80px 90px 40px 5px;
	width: 25%;	
	align-content: right;
	margin-left:5px;
}


@font-face{
	font-family: 'Hipstelvetica Light';
	src: url('Hipstelvetica Light.ttf');
}
@font-face{
	font-family: 'Simplifica';
	src: url('SIMPLIFICA Typeface.ttf');
}

.logo{
	font-family: 'Hipstelvetica Light';
	font-size: 36px;
	text-align: left;
	padding-left: 15px;
	padding-top: 5px;
	margin: 10px;
	width: 150px;
	float: left;
	
}

.cab{
	font-family:'Simplifica';
	font-size: 50px;
	text-align: center;
	padding-top: 40px ;
	padding-bottom: 20px;
}

.voltar{
	margin-left: 40%;
	margin-top: 5px;
	margin-bottom: 5%;
}